html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    line-height: 1.5;
}

.page-title {
    text-align: center;
}

.labels {
    text-align: left;
    margin-bottom: 0;
    font-weight: 400;
}

.foto,
.foto1,
.foto2 {
    float: right;
    width: 30mm;
    height: 40mm;
    border: 1px solid black;
    padding: 47px -17px -47px 17px;
    font-weight: lighter;
}

.foto1 {
    margin-top: 60px;
    margin-bottom: 100px;
}