html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "corbel";
    src: url('../fonts/corbel.ttf');
    font-display: swap;
}

body {
    width: 98%!important;
    color: rgb(0, 70, 50);
    background-color: rgba(0, 150, 0, .2);
    font-family: "corbel"!important;
}

.navbar {
    width: 102.05%!important;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.nav-link {
    color: rgb(209, 209, 209)!important;
}

.nav-link:hover {
    color: #fff!important;
}

.nav-link.active {
    color: white!important;
}

.dropdown-menu {
    text-shadow: none !important;
}

.container-fluid {
    width: 102.05%;
}

.anu {
    color: white;
    background-color: rgb(0, 70, 50);
    text-shadow: none !important;
    animation-name: anu;
    animation-duration: 0.7s;
}

@keyframes anu {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgb(0, 70, 50);
    }
}

.duanger {
    color: white!important;
    background-color: darkred!important;
}

.dropdown-item:hover {
    color: #fff !important;
    background-color: rgb(0, 70, 50)!important;
    border-color: transparent !important;
}

.nav-admin {
    background-color: rgba(0, 150, 0, .2);
}

.fixed-bottom {
    z-index: -1!important;
}

.text-center {
    text-align: center !important;
}

.jbtr {
    background-image: url("/assets/img/sdi al-khairiyah banyuwangi.webp");
    height: 450px;
    padding-top: 140px;
    width: 102.05%!important;
    border-radius: 0px !important;
    font-size: 10vw !important;
    color: #fff;
    background-size: cover;
    background-position: center center;
    margin: auto;
    margin-top: -70px !important;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.card-1,
.card-2,
.card-4 {
    /* margin-top: -2px !important; */
    margin: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    border-radius: 20px !important;
    margin-bottom: 6px;
}

.card-1 {
    background-color: rgba(220, 255, 220, 1);
    width: 84%!important;
}

.card-2 {
    background-color: rgba(240, 255, 240, 1);
    width: 84%!important;
}

.card-3 {
    width: 94%!important;
    margin: auto;
}

.card-4 {
    background-color: rgba(240, 255, 240, 1);
    width: 90%!important;
}

.ptk {
    font-size: 10px !important;
    overflow: auto !important;
}

.table {
    text-align: center !important;
    margin: auto;
}

figcaption {
    display: none;
    text-align: center;
}

p {
    text-align: justify !important;
}

.w-100 {
    height: 500px !important;
}

.news-heading {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

div.nav-link {
    cursor: pointer;
}

.class-card {
    box-shadow: rgb(150, 150, 150) 0px 0px 6px;
    transition-duration: 0.4s;
}

.class-card:hover {
    transform: scale(1.08, 1.08);
    background-color: rgb(218, 255, 244);
    z-index: 99;
}

.iframe {
    width: 850px;
    height: 492px;
}

.myfooter {
    /* background-color: rgb(192, 255, 227); */
    margin: none;
    padding: 40px 40px 0 50px;
    /* width: 101%; */
}

.footer-col {
    padding: 20px;
}


/* .right-float {
    position: fixed;
    z-index: 2;
    right: 0px;
    top: 330px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
} */

.right-float-button {
    position: fixed;
    z-index: 2;
    /* right: 0px; */
    right: -220px;
    margin-top: 387px;
    border-radius: 15px 0 0 15px;
    /* overflow: hidden; */
    transition-duration: .9s;
    /* color: rgb(210, 255, 219); */
    color: transparent;
    padding: 5px;
    background-color: rgb(55, 126, 55);
}

.right-float-button2 {
    position: fixed;
    z-index: 2;
    right: 125px;
    margin-top: 442px;
    border-radius: 15px 0 0 15px;
    /* overflow: hidden; */
    transition-duration: .6s;
    margin-right: -196px;
    /* color: rgb(210, 255, 219); */
    color: transparent;
    padding: 5px;
    background-color: rgb(126, 55, 124);
}

.right-float-button3 {
    position: fixed;
    z-index: 4;
    right: 136px;
    margin-top: 494px;
    border-radius: 15px 0 0 15px;
    /* overflow: hidden; */
    transition-duration: .6s;
    margin-right: -196px;
    /* color: rgb(210, 255, 219); */
    color: transparent;
    padding: 5px;
    background-color: rgb(146, 11, 11);
}

.right-float-button:hover {
    margin-right: 230px;
    color: rgb(255, 255, 255);
}

.right-float-button2:hover {
    margin-right: -125px;
    color: rgb(255, 255, 255);
}

.right-float-button3:hover {
    margin-right: -136px;
    color: rgb(255, 255, 255);
}

.right-float-button img {
    width: 40px;
    height: 42px;
}

.right-float-button2 img,
.right-float-button3 img {
    width: 40px;
    height: 40px;
}

@media(min-width:800.1px) {
    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        /* height: 50px; */
    }
}

@media(max-width:800px) {
    body {
        width: 96%!important;
    }
    .navbar {
        width: 104.1%!important;
        color: white;
        background-color: rgb(0, 70, 50);
        text-shadow: none !important;
        animation-name: anu;
        animation-duration: 0.7s;
    }
    .jbtr {
        width: 104%!important;
        height: 500px;
    }
    .w-100 {
        height: 200px !important;
    }
    h1.main-section,
    .display-4.text-center {
        font-size: 36px !important;
    }
    .container-fluid,
    .card-1,
    .card-2,
    .card-3 {
        width: 102% !important;
    }
    .table2 {
        font-size: 9px !important;
    }
    .iframe {
        width: 300px;
        height: 132px;
    }
    .right-float {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 60px;
        z-index: 16;
        background-color: rgb(0, 70, 50);
    }
    .right-float-button,
    .right-float-button2,
    .right-float-button3 {
        /* box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.651); */
        height: 40px;
        width: 40px;
        font-size: 0;
        position: relative;
        right: unset;
        margin-top: unset;
        margin-right: unset;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-float-button {
        background-image: radial-gradient( rgb(83, 172, 83), rgb(55, 126, 55));
    }
    .right-float-button2 {
        background-image: radial-gradient(rgb(167, 90, 164), rgb(126, 55, 124));
    }
    .right-float-button3 {
        background-image: radial-gradient(rgb(206, 58, 58), rgb(146, 11, 11));
    }
    .right-float-button img,
    .right-float-button2 img,
    .right-float-button3 img {
        width: 25px;
        height: 25px;
    }
    .right-float-button:hover,
    .right-float-button2:hover,
    .right-float-button3:hover {
        margin-right: unset;
        color: transparent
    }
    #topcontrol {
        z-index: 10;
        margin-bottom: 60px;
    }
}

@media(max-width:402px) {
    .navbar-brand {
        font-size: small;
    }
    .w-100 {
        height: 140px !important;
    }
    .container-fluid,
    .card-1,
    .card-2,
    .card-3 {
        width: 102% !important;
    }
}